[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pyocclient = "*"
pytz = "*"
simpleaudio = "*"
python-ldap = "*"
pafy = "*"
youtube-dl = "*"
python-vlc = "*"

[requires]
python_version = "3.7"

[scripts]
bot = "python weeelab_bot.py"
